* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main {
  background-color: azure;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 60%;
  height: 100%;
  padding-bottom: 1rem;
}

h1 {
  color: orange;
  margin-bottom: 2rem;
  text-align: center;
  pad: 0.5rem;
}

.one {
  color: #000;
  text-align: center;
  margin-bottom: 1rem;
}

.but input {
  border-radius: 8px;
  padding: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  margin: 10px;
  margin-bottom: 10px;
  border-color: #000;
}



.number {
  padding: 1rem;
  background-color: transparent;
  color: #fff;
  border-color: #b1a2a2;
  margin-bottom: 1rem;
}

.third {
  text-align: center;
}

button {
  padding: 0.5rem;
  background-color: darkmagenta;
  color: #fff;
  border-color: #b1a2a2;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  width: 15vh;
  border-radius: 7px;

}

button:hover {
  background-color: orange;
  transition: all 0.5s;
  transition-delay: 0.3s;
  width: 18vh;
  font-size: 18px;
  color: black;

}

.two {
  color: orange;
  text-align: center;
  margin-bottom: 1rem;
}

.second {
  text-align: center;
}
